.rowStyle {
  width: 100%;
  height: 40px;
  text-align: left;
  background-color: #bbcbe4;
  transition: background-color .3s;
}

.rowStyle:hover {
  background-color: #dae3f3;
}


.tdStyle {
  padding: 5px 25px;
  text-align: left;
  width: 100%;
}

#rightTd {
  text-align: left;
}

.tableScroller {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 300px;
  width: 100%;
}

.tableStyle {
  border-collapse: collapse;
  border-radius: 5px;
}

#topRow {
  text-align: center;
  color: white;
  background-color: #323299;
  height: 25px;
}
